body {
    font-family: "Roboto";
    background-image: url("img/background.jpg");
    background-color: #0c3f7d;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

select {
    width: 200px;
    height: 33px;
}

#type, #species {
    width: 300px;
    background-color: #e6e6e6;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

#sprite {
    width: auto;
    height: 160px;
    background-color: #e6e6e6;
    border: 7px solid black;
    border-radius: 15px;
}

#stats {
    justify-content: center;
    text-align: left;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 15px;
}

th {
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

